
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  color: black;
}
.logo-container{

background-image:url("../../assets/profilBg.png") ;
  padding: 10px;
  height: 100%;
  background-size: cover;
  background-position: center;
  max-height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: var(--shadow-md);
  gap: 10px;
  width: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  padding: 20px;
  max-width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.signup-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.signup-form label {
  font-weight: bold;
}
.signup-form .form-group {
  display: flex;
  flex-direction: column;
}
.signup-form .signup-button {
  padding: 10px;
  width: 100%;
  background-color: #3A643B;        
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signup-form .signup-button:hover {
  background-color: #2d522d;
}
.signup-form .error {
  color: red;
  font-size: 0.9rem;
}
.login-button{
    padding: 10px;
    width: 100%;
    border: none;        
    color:#3A643B;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.back-button{
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: #3A643B;
    font-size: 1rem;
    cursor: pointer;  
}


@media screen and (min-width: 770px) {
    .signup-container{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
    }
    .logo-container{
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
        max-height: 100vh;
    }
    .form-container{
        width: 50%;
        max-height: 100vh;
    }
  
}