.SingleDoctorProfile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileContainer {
padding: 1rem 1rem;
max-width: 1350px;
min-height: 100vh;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
}
.loading {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    padding: 50px 0;
}
.error {
    font-size: 1.2rem;
    color: red;
    text-align: center;     
    padding: 50px 0;
}

@media screen and (min-width: 1000px) {
    .profileContainer {
        padding: 2rem 6rem;
        max-width: 1350px;
        
    }
    .aboutContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 2rem;
        max-width: 100%;

    }
    
}