
.reviewerImage{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
   
.container{
    border: 0.5px solid black;
 margin-top: 20px;
 border-radius: 16px;
 width: 100%;
 max-width: 500px;
}
.specialize {
	background: #fff;
    border-radius: 16px;
	width: 100%;
	padding: 155rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
    
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    border-bottom: 0.5px solid black;
    background-color: #EAF2EA;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 12px 16px;
}

.title {
	margin: 0;
	font-size: 1.2rem;
	color: var(--text-dark);
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 20px;
}

.card {
	display: flex;
    flex-direction: column;
	gap: 0.75rem;
	padding: 0.75rem 20px;
	border: 1px solid var(--border-color);
	border-radius: 20px;
	background: #f8f8f8;
    width: 100%;
    height: 10rem;
    overflow: hidden;
    
}
.reviewContent{
    display: flex;
    flex-direction: row;

    width: 100%;
    gap: 4px;
}
.reviewContent .reviewHeader {
    display: flex;
    flex-direction: row;

    width: 100%;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #3A643B;

    gap: 10px;
}
.reviewText{

    font-size: 13px;
    color: black;


}

.reviewContent .reviewHeader h1{
 font-size: 18px;
}
.reviewDate{
    font-size: 12px;
    color: gray;
}
.icon {
	width: 48px;
	height: 48px;
	border-radius: 12px;
	object-fit: contain;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.cardLabel {
	font-weight: 600;
	font-size: 0.95rem;
	color: #3A643B;
}

@media (max-width: 640px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 770px) {
    .container{
        width: 100%;
        max-width: 700px;    
    }
	.card {
	display: flex;
    flex-direction: column;
}


}
@media screen and (min-width: 1000px) {
	.container{
		max-width: 100%;
	}

}