.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
  background-color: #f5f5f5;
}
.signupButton{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #3A643B;        
    color: #3A643B;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.logo-container{

background-image:url("../../assets/profilBg.png") ;
  padding: 10px;
  height: 100%;
  background-size: cover;
  background-position: center;
  max-height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: var(--shadow-md);
  gap: 10px;
  width: 100%;
}
.loginButton {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;        
    color: white;
    border-radius: 5px;
    background-color: #3A643B;
    cursor: pointer;
}
.loginButton:hover {
  background-color: #2d522d;
}
.login-title {
  margin-bottom: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;       
    background-color: white;
}
.input-group {
    display: flex;
    flex-direction: column;
}
.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
}
.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.back-button{
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: #3A643B;
    font-size: 1rem;
    cursor: pointer;  
}


@media screen and (min-width: 770px) {
    .login-container{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
    }
    .logo-container{
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
        max-height: 100vh;
    }
    .form-container{
        width: 50%;
        max-height: 100vh;
    }
  
}